@import "../../vars.css";

.container{
    color: var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    width: 100%;
    padding: 58px 10%;
    gap: 10px;
}

.text h2{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;

}

.text p{
    font-size:40px ;
    font-weight: 400;
    letter-spacing: 2px;
} 
.links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 25px;

}

.link{
    display: flex;
    align-items: center;
    gap: 25px;
}

.link a{
    color: var(--color-text);
    text-decoration:none ;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
}


.formHorizontal{
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
    background-color:#04152d ;
    border-radius: 10px;
    border-color: #fff;
    max-width: 100%;
    
}

.formControl {
    max-width: 100%;
    font-size: large;
    gap: 100px;
    margin: 10px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
  background-color: #19376d;
  height: 34px;
  width: 400px;
  color: #fff;
  letter-spacing: 1px;
  margin-right: 20px;
}
textarea{

    font-size: large;
    gap: 100px;
    margin: 10px;
    margin-left: 20px;
    height: 200px;
    width: 400px;
  background-color: #19376d;
  border-radius: 10px;
  color: #fff;
  letter-spacing: 1px;
  margin-right: 20px
}

.sendButton{
    margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.altSendBtn{
    width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
  justify-content: center;
  align-items: center;


}

.sendText{
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 20px;

}
.label{
    font-size: 30px;
    font-weight: 500;
    margin: 10px;

}



@media screen and (max-width:830px){
    .container{
        flex-direction: column;
        gap: 23px;

    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .links{
        align-items: center;
    }
}